{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">All Artworks</h2>
    <div class="row">
        {% for artwork in artworks %}
        <div class="col-12 d-flex align-items-center border-bottom py-3">
            <img src="{{ artwork.file_path }}" alt="Artwork Image" class="img-thumbnail" style="width: 150px; height: auto;">
            <div class="ms-3">
                <small class="text-muted">{{ artwork.file_path }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
