{% extends 'base.html' %}

{% block content %}
   

	<div id="primary" class="content-area container container-large">
		<main id="main" class="site-main" role="main">

			
<article id="post-975" class="container container-medium post-975 page type-page status-publish hentry">
	<header class="entry-header  screen-reader-text ">
		<h1 class="entry-title">KONTAKT</h1>	</header><!-- .entry-header -->

	<div class="entry-content">
		<p style="outline: none;"><strong>Gradska Galerija Bihać</strong><br>
Bosanska 15, 77 000 Bihać, BiH<br>
Tel. +387 37 22 30 83</p>
<div data-test="contact-form" id="contact-form-975" class="wp-block-jetpack-contact-form-container ">
<form action="https://ggbihac.com/kontakt/#contact-form-975" method="post" class="contact-form commentsblock" aria-label="KONTAKT" novalidate="">

<div style="" class="grunion-field-name-wrap grunion-field-wrap">
<label for="g975-ime" class="grunion-field-label name" style="outline: none;">Ime<span class="grunion-label-required" aria-hidden="true">(required)</span></label>
<input type="text" name="g975-ime" id="g975-ime" value="" class="name  grunion-field" required="" aria-required="true">
	</div>

<div style="" class="grunion-field-email-wrap grunion-field-wrap">
<label for="g975-email" class="grunion-field-label email">Email<span class="grunion-label-required" aria-hidden="true">(required)</span></label>
<input type="email" name="g975-email" id="g975-email" value="" class="email  grunion-field" required="" aria-required="true">
	</div>

<div style="" class="grunion-field-textarea-wrap grunion-field-wrap">
<label for="contact-form-comment-g975-poruka" class="grunion-field-label textarea">Poruka</label>
<textarea style="" name="g975-poruka" id="contact-form-comment-g975-poruka" rows="20" class="textarea grunion-field txtstuff"></textarea><div class="hiddendiv common" style="width: 940.45px;"></div>
	</div>
	<p class="contact-submit">
		<button type="submit" class="pushbutton-wide">Submit</button>		<input type="hidden" name="contact-form-id" value="975">
		<input type="hidden" name="action" value="grunion-contact-form">
		<input type="hidden" name="contact-form-hash" value="1fdeeb5b5f1379a18cde23ffa8b4d08a89f6a7f4">
	</p>
<p style="display: none !important;" class="akismet-fields-container" data-prefix="ak_"><label>Δ<textarea name="ak_hp_textarea" cols="45" rows="8" maxlength="100" class="txtstuff"></textarea><div class="hiddendiv common" style="width: 0px;"></div></label><input type="hidden" id="ak_js_1" name="ak_js" value="1738147543769"><script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script></p></form>
</div>
	</div><!-- .entry-content -->
</article><!-- #post-## -->

		</main><!-- #main -->

			</div><!-- #primary -->


	
{% endblock %}
